<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
            </style>

                {{ encore_entry_link_tags('app') }}
        {% endblock %}



    </head>
    <body>

    <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
        <div class="container">
            <a href="/" class="navbar-brand d-flex w-50 me-auto">Superette</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href={{ path('app_home_page') }}>Accueil</a>
                    </li>
                    {% if user != null and is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('app_admin') }}><b>Page admin</b></a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user != null %}
                                Connecté en tant que <b>{{ user.username }}</b>
                            {% else %}
                                Non connecté
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown">
                            {% if user != null %}
                                <li><a class="dropdown-item" href={{ path('app_profile') }}>Mon compte</a></li>
                                <li><a class="dropdown-item" href={{ path('app_logout') }}>Se déconnecter</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href={{ path('app_login') }}>Se connecter</a></li>
                                <li><a class="dropdown-item" href={{ path('app_register') }}>S'enregistrer</a></li>

                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
